body {
    background: rgb(174, 185, 216);
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial;
    margin: 0;
    padding: 0;
}
header {
    background: black;
    padding: 20px;
}
section {
    background: white;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
div {
    background: blue;
    margin: auto;
    width: 100px;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
header a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-top: 40px;
}
header .logo a {
    background-image: url('images/logo.PNG');
    background-size: 300px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    height: 180px;
    top: -30px;
    text-indent: -9999px;
    width: 298px;
}
li {
    display: inline-block;
    margin-right: 20px;
}
footer {
    background: black;
    padding: 10px 20px;
}